<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Magasin de Pêche</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<!-- En-tête -->
<div th:insert="~{_parts/_header :: header}"></div>

<!-- Contenu principal -->
<main>
    <section class="hp-box">
        <!-- Section des produits -->
        <div class="hp-produits">
            <header class="hp-titre">
                <h2><a th:href="@{/shop}">Derniers produits</a></h2>
            </header>
            <div class="hp-produits-liste">
                <div class="produits-container">
                    <div th:each="produit : ${produits}" class="produit-box">
                        <!-- Image du produit -->
                        <div class="produit-image">
                            <img th:src="${produit.imageUrl}" alt="Image de produit : ${produit.nom}"/>
                        </div>
                        <!-- Détails du produit -->
                        <div class="produit-details">
                            <h3 th:text="${produit.nom}"></h3>
                            <p th:text="${produit.description}"></p>
                            <footer class="produit-footer">
                                <span class="produit-prix" th:text="${produit.prix} + ' €'"></span>
                                <span class="produit-stock" th:text="'Stock : ' + ${produit.quantite}"></span>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section des concours -->
        <div class="hp-concours">
            <header class="hp-titre">
                <h2><a th:href="@{/concours}">Derniers concours</a></h2>
            </header>
            <div class="hp-concours-liste">
                <div class="concours-container">
                    <!-- En-tête de la table des concours -->
                    <header class="concours-header">
                        <span class="concours-title">Nom</span>
                        <span class="concours-title">Date</span>
                        <span class="concours-title">Lieu</span>
                    </header>
                    <!-- Liste des concours -->
                    <div th:each="concours : ${concours}" class="concours-row">
                        <span class="concours-cell" th:text="${concours.nom}"></span>
                        <span class="concours-cell" th:text="${concours.date}"></span>
                        <span class="concours-cell" th:text="${concours.lieu}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Pied de page -->
<footer>
    <p>&copy; SARL "Pêche 3000". Tous droits réservés.</p>
</footer>

</body>
</html>
