<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Magasin de Pêche</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<!-- En-tête -->
<div th:insert="~{_parts/_header :: header}"></div>

<!-- Contenu principal -->
<main>
    <section class="homepage-container">
        <!-- Section des produits -->
        <div class="product-section">
            <header class="section-header">
                <h2><a th:href="@{/boutique}">Derniers produits</a></h2>
            </header>
            <div class="product-list">
                <div class="product-grid">
                    <div th:each="produit : ${produits}" class="product-card">
                        <a class="produit-link" th:href="@{'/boutique/boutique/' + ${produit.id}}">
                            <!-- Image du produit -->
                            <div class="product-image">
                                <img th:src="${produit.imageUrl}" alt="Image de produit : ${produit.nom}"/>
                            </div>
                            <!-- Détails du produit -->
                            <div class="product-details">
                                <h3 th:text="${produit.nom}"></h3>
                                <p th:text="${produit.description}"></p>
                                <footer class="product-footer">
                                    <span class="product-price" th:text="${produit.prix} + ' €'"></span>
                                    <span class="product-stock" th:text="'Stock : ' + ${produit.quantite}"></span>
                                </footer>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Section des concours -->
        <div class="contest-section">
            <header class="section-header">
                <h2><a th:href="@{/concours}">Derniers concours</a></h2>
            </header>
            <div class="contest-list">
                <div class="contest-grid">
                    <!-- En-tête de la table des concours -->
                    <header class="contest-header">
                        <span class="contest-title">Nom</span>
                        <span class="contest-title">Date</span>
                        <span class="contest-title">Lieu</span>
                    </header>
                    <!-- Liste des concours -->
                    <div th:each="concours : ${concours}" class="contest-row">
                        <span class="contest-cell" th:text="${concours.nom}"></span>
                        <span class="contest-cell" th:text="${concours.date}"></span>
                        <span class="contest-cell" th:text="${concours.lieu}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

</body>
</html>
