<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>

<div class="container">
    <div class="card">
        <h1 class="card_title">Connexion</h1>
        <form class="card_form" th:action="@{/login}" method="post">
            <div class="input">
                <input type="email" name="username" class="input_field" required/>
                <label class="input_label">Email</label>
            </div>
            <div class="input">
                <input type="password" name="password" class="input_field" required/>
                <label class="input_label">Mot de passe</label>
            </div>
            <button type="submit" class="card_button">Se connecter</button>
            <div th:if="${param.error}" style="color:red;">Erreur : Email ou mot de passe invalide.</div>
        </form>
        <div class="card_info">
            <p>Pas enregistré? <a th:href="@{/register}">Créer un compte</a></p>
        </div>
    </div>


</div>

</body>
</html>